body {
    background-color: var(--background);
}

.monolog-list {
    position: fixed;
    width: 400px;
}

.monolog-list.top {
    top: 10px;
}

.monolog-list.bottom {
    bottom: 10px;
}

.monolog-list.left {
    left: 10px;
}

.monolog-list.right {
    right: 10px;
}

.monolog {
    position: relative;
    min-width: 395px;
    min-height: 35px;
    border: 1px solid var(--default);
    border-radius: var(--border-radius);
    margin-bottom: 10px;
    display: flex;
    /* Todo besser flex direction column */
    flex-direction: row;
    align-items: center;
    padding: 10px;
    animation: fadeIn 1s;
}

.monolog.info {
    border-color: var(--primary);
    color: var(--primary);
    background-color: var(--background);
    box-shadow: 0 0 4px 0 var(--primary);
}

.monolog.success {
    border-color: var(--success);
    color: var(--success);
    background-color: var(--background);
    box-shadow: 0 0 4px 0 var(--success);
}

.monolog.warning {
    border-color: var(--warning);
    background-color: var(--warning-monolog-background);
    color: var(--text);
    box-shadow: 0 0 4px 0 var(--warning);
}

.monolog.error, .code-error {
    border-color: var(--error);
    background-color: var(--error-monolog-background);
    color: var(--text);
    box-shadow: 0 0 4px 0 var(--error);
}


.monolog.code-error {
    display: flex;
    flex-wrap: wrap;
}

.code-box {
    display: flex;
    flex-wrap: nowrap;
}

.code-text-box {
    background: #FFFEFE;
    opacity: 70%;
    border-radius: 5px;
    width: 336px;
    height: 59px;
    margin-left: 10px;
    margin-top: 20px;
}

.copy-img-box {
    background: rgba(39, 52, 59, 0.6);
    border-radius: 5px;
    width: 31px;
    height: 120px;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.code-box-label {
    padding: 5px 10px;
    height: 100%;
    width: 280px;
    font-family: 'Courier New', monospace;
    font-size: 12px;
    line-height: 1.1;
    text-overflow: ellipsis;
    overflow: hidden;
}

.copy-interaction {
    position: absolute;
    width: 111px;
    height: 24px;
    right: 50px;
    bottom: 25px;
    display: flex;
    justify-content: flex-end;
}

.copy-text-icon {
    display: none;
}

.copy-icon {
    display: inline;
}

.stack-number-info {
    z-index: 200;
    position: absolute;
    left: -10px;
    top: -10px;
}

.stack-number-success {
    z-index: 200;
    position: absolute;
    left: -10px;
    top: -10px;
}

.stack-number-error {
    z-index: 200;
    position: absolute;
    left: -10px;
    top: -10px;
}

.monolog-title {
    font-weight: bolder;
    min-width: 219px;
}

.monolog-close {
    position: absolute;
    top: 0;
    right: 0;
    height: 38px;
    width: 38px;
}

.monolog.out {
    animation: fadeOut 1s;
}

.monolog.shake {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both 1;
    backface-visibility: hidden;
}


.monolog-icon {
    /* icon */
    position: static;
    width: 40px;
    height: 40px;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 5px;
    margin-right: 20px;
}

.monolog-timeout {
    max-width: 50px;
}

/** ------ Animations ------ */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes shake {
    10%, 90% {
        transform: translate(-1px);
    }

    20%, 80% {
        transform: translate(2px);
    }

    30%, 50%, 70% {
        transform: translate(-4px);
    }

    40%, 60% {
        transform: translate(4px);
    }
}

