body {
    background-color: var(--background);
}

.monolog-list {
    position: fixed;
    width: 350px;
}

.monolog-list.top {
    top: 10px;
}

.monolog-list.bottom {
    bottom: 10px;
}

.monolog-list.left {
    left: 10px;
}

.monolog-list.right {
    right: 80px;
}

.monolog {
    position: relative;
    /*width: 350px;*/
    min-width: 395px;
    min-height: 35px;
    /*max-height: 95px;*/
    border: 3px solid var(--default);
    border-radius: var(--border-radius);
    /*background-color: var(--default-background); */
    margin-bottom: 10px;
    /*padding: 5px;*/

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;

    /*position: absolute;*/
    /*width: 395px;*/
    /*height: 88px;*/
    /*left: 364px;*/
    /*top: 928px;*/
}

.monolog.shake {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.monolog.shake:hover {
    animation: 0;
    -webkit-animation: 0;
}

.monolog.info {
    border: 1px solid var(--primary);
    color: var(--primary);

}

.monolog.warning {
    border: 1px solid var(--warning);
    background-color: var(--warning-monolog-background);
    color: var(--background);
    font-weight: bold;
}

.monolog.error {
    border-color: var(--error);
    background-color: var(--error-monolog-background);
    color: var(--background);
    font-weight: bold;
}

.monolog.code-error {
    border-color: var(--error);
    background-color: var(--error-monolog-background);
    color: var(--background);
    font-weight: bold;

    font-size: 14px;

    display: flex;
    flex-direction: column;

}

.code-box {

}

.code-text-box {
    background: rgba(196, 196, 196, 0.8);
    border-radius: 5px;

    width: 300px;
    height: 120px;

}

.copy-img-box {
    background: rgba(39, 52, 59, 0.6);
    border-radius: 5px;

    width: 31px;
    height: 51px;

    display: flex;
    align-items: center;
}

.copy-icon {
    display: block;
    margin: 0 auto;
}

.monolog.success {
    border: 1px solid var(--success);
    color: var(--success);
}

.monolog.dnd{
    left: 320px;
}

.monolog.dnd:hover{
    animation: dnd-in 0.52s cubic-bezier(.36, .07, .19, .97) both ;
}


.monolog-title {
    font-weight: 600;
   /* color: var(--text); */
    min-width: 219px;

}


.monolog-close {
    position: absolute;
    right: 5px;
    top: 5px;
    height: 15px;
    width: 15px;
    border-radius: 8px;
    line-height: 15px;
    fill: var(--default);
}

.monolog.out{
    animation: out-right 0.52s cubic-bezier(.36, .07, .19, .97) both;
}

.monolog-icon {
    /* icon */
    position: static;
    width: 40px;
    height: 40px;
    left: 24px;
    top: 24px;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 24px;
}



@keyframes dnd-in{
    from { left: 320px;}
    to {left:0;}
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

@keyframes out-right{
    from {left: 0;}
    to{ left: 400px;}
}



.monolog-timeout{
    max-width: 50px;
}
