
*, html {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--text);
}



/* Kolibri default Input styles *//*
input {
  outline: none;
  border: 1px solid var(--text);
  border-radius: 2.5px;
  height: 2.3rem;
  text-indent: 0.3rem;
}*/

input:hover {
  border-color: var(--input-hover);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: var(--primary) !important; /* overrides css styles upon focus, that are used for input validations. */
  filter: drop-shadow(0px 0px 3px var(--primary)) !important; /* overrides css styles upon focus, that are used for input validations. */
}

input:not(:placeholder-shown) {
  border-color: var(--primary);
}

input[type="button"] {
  cursor: pointer;
}

input[type="submit"] {
  cursor: pointer;
}

/* Input validations */
input {



  font-size: var(--font-medium);

  transition: var(--transition-quick);
}

input.valid {
  border-color: var(--success);
  filter: drop-shadow(0px 0px 3px var(--success))
}

input.invalid {
  border-color: var(--error);
  filter: drop-shadow(0px 0px 3px var(--error))
}



/* Title */
h2 {
  font-size: var(--font-xlarge);
  font-weight: var(--font-xbold);
}



/* Label */
/*label {
  display: inline-block;
  margin-top: 2.5rem;
  margin-bottom: 0.3rem;

  font-size: var(--font-small);
  font-weight: var(--font-regular);
}*/



/* Primary Buttons */
.primary,
button.primary,
input[type="button"].primary {
  border: none;

  font-size: var(--font-small);
  font-weight: var(--font-bold);

  background-color: var(--primary);
  color: var(--text-contrast);

  transition: var(--transition-quick);
}

.primary:hover,
button.primary:hover,
input[type="button"].primary:hover {
  background-color: var(--primary-hover);
}

.primary:active,
button.primary:active,
input[type="button"].primary:active {
  box-shadow: inset 0px 4px 8px var(--text);
}

.primary:disabled,
button.primary:disabled,
input[type="button"].primary:disabled {
  opacity: 0.4;
  background-color: var(--primary);
}



/* Secondary Buttons */
.secondary,
button.secondary,
input[type="button"].secondary {
  font-size: var(--font-small);
  font-weight: var(--font-bold);

  background-color: transparent;
  border-color: var(--primary);

  transition: var(--transition-quick);
}

.secondary:hover,
button.secondary:hover,
input[type="button"].secondary:hover {
  filter: drop-shadow(2px 3px 1px var(--shadow-contrast));
}

.secondary:active,
button.secondary:active,
input[type="button"].secondary:active {
  background-color: var(--primary-opac);
}

.secondary:disabled,
button.secondary:disabled,
input[type="button"].secondary:disabled {
  opacity: 0.4;
}



/* General Variables */
:root {
  --transition-quick: all 0.15s ease-in-out;
  --transition-slow:  all 0.25s ease-in-out;
}





/**
New UI Styles
 */
.card{
  margin: 3rem;
  min-width: 23rem;
  max-width: 45rem;
  background: var(--background);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*align-items: center;*/
  border-radius: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.36) 5px 3px 6px,
  rgba(0, 0, 0, 0.43) 0px 3px 6px;
}

.card-title{
  font-size: 1.5em;
  font-weight:600;
}

.card-body{
  padding-top: 1em;
}


.button{
  padding: 0.5em 1em;
  font-size: 1.1em;
  border: none;
  border-radius: var(--border-radius);
}

.button.button-default{
  background-color: var(--default);
  color: var(--text-contrast)
}
.button.button-default:hover{
  background-color: var(--default-hover);
  color: var(--text-contrast)
}

.button.button-info{
  background-color: var(--primary);
  color: var(--text-contrast)
}
.button.button-info:hover{
  background-color: var(--primary-hover);
  color: var(--text-contrast)
}

.button.button-success{
  background-color: var(--success);
  color: var(--text-contrast);
}

.button.button-success:hover{
  background-color: var(--success-hover);
  color: var(--text-contrast);
}


.button.button-warning{
  background-color: var(--warning);
  color: var(--text-contrast);
}

.button.button-warning:hover{
  background-color: var(--warning-hover);
  color: var(--text-contrast);
}

.button.button-error{
  background-color: var(--error);
  color: var(--text-contrast);
}

.button.button-error:hover{
  background-color: var(--error-hover);
  color: var(--text-contrast);
}