html, body {
    padding: 40px;
}

.switch {
    width: 300px;
    height: 100px;
    background: #bdbdbd;
    border-radius: 50px;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
}

.cross {
    grid-column-start: 1;
    grid-column-end: 1;
    margin:auto;
}

.cross:before, .cross:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 5px;
    border-radius: 3px;
    background-color: #14142B;
}

.cross:before {
    transform: rotate(45deg);
}

.cross:after {
    transform: rotate(-45deg);
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #14142B;
    border-radius: 50%;
    grid-column-start: 2;
    grid-column-end: 2;
    margin:auto;
}

.checkmark {
    z-index: 5;
    transform: rotate(45deg);
    height: 24px;
    width: 12px;
    border-bottom: 7px solid #14142B;
    border-right: 7px solid #14142B;
    grid-column-start: 3;
    grid-column-end: 3;
    margin:auto;
}

















label[for="switch-checkbox"] {
    display: none;
}

#switch label:before, #switch label:after {
    color: #4e4e4e;
    z-index: 1;
}

.label-off:after {
    content: 'l';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 90px;
    height: 90px;
    background: #fcfcfc;
    border-radius: 90px;
    transition: 0.3s;
}

.label-on:after {
    content: 'l';
    position: absolute;
    top: 5px;
    left: 155px;
    width: 90px;
    height: 90px;
    background: #fcfcfc;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 130px;
}

.switch-label {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 2.0em;
}

.on {
    transform: translateX(2.5em);
    z-index: 1;
    color: #fcfcfc;
}

.off {
    transform: translate(5em, -2.5em);
    color: #333333;
}

.indeterminate {
    transform: translateX(-2.5em);
}



.switch.disabled {
    pointer-events: none;
    z-index: 0;
    background: #767676;
    opacity: 60%;
}

.switch:focus {
    box-shadow: 0 0 15px rgba(24, 75, 205, 0.7);
    outline:none;
}

.switch-on {
    /*    background: #2a8708;
        box-shadow: 0 0 15px 0 #2a8708;*/
}

.thumb {
    z-index: 0;
    position: absolute;
    top: 5px;
    width: 90px;
    height: 90px;

    border-radius: 90px;
}

.thumb > div {
    position: relative;
    border-radius: 3px;
    background-color: #333333;
}


.off {
    border: 4px solid #184BCD;
    top: 45px;
    left: -75px;
    transition: all 0.2s linear;
}

.off > div {
    left: 5px;
    top: 45px;
    height: 5px;
    width: 30px;

}

.on {
    border: 4px solid #184BCD;
    left: 160px;
    transition: all 0.2s linear;

}

.on > div {
    left: 55px;
    top: 45px;
    height: 5px;
    width: 30px;

}

.indeterminate {
    border: 4px solid #184BCD;
    left: 150px;
    transition: all 0.2s linear;
}

.indeterminate > div {
    left: 55px;
    top: 5px;
    height: 30px;
    width: 5px;

}


#switch-checkbox {

}

.arrow {
    z-index: 1;
    border: solid #C7D1EB;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;

}

.arrow-right {
    z-index: 1;
    position: relative;
    left: 10px;
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    animation: moveToRight 4s infinite;

}


@keyframes moveToRight {
    0%,
    50% { left: 15px; }
    100% { left: 20px; }


}


.arrow-left {
    z-index: 1;
    position: absolute;
    top: 40px;
    left: 90px;
    width: 20px;
    height: 20px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    animation: moveToLeft 4s infinite;
    display: none;
}

@keyframes moveToLeft {
    0%,
    50% { left: 90px; }
    100% { left: 120px; }


}

