
.switch {
    position: relative;
    display: inline-block;
    width: var(--two-state-width);
    height: var(--switch-height);
}

.switch.three-state {
    width: var(--three-state-width);
    height: var(--switch-height);
}

.switch-icon {
    position: absolute;
    cursor: pointer;
    height: var(--switch-icon-height);
    top: 7px;
    z-index: 1;
}

.switch-icon::selection {
    color: transparent;
}

.switch-icon.off {
    left: 5px;
}

.switch-icon.on {
    right: 7px;
}

.switch-icon.indeterminate {
    left: 71px;
}

/* Todo make it invisible*/
.switch input {
    position: absolute;
    left: 200px;
    width: 20px;
    height: 20px;

    opacity: 0;
}

.thumb {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: var(--switch-background);
    -webkit-transition: .2s;
    transition: .2s;
}

.thumb:before {
    position: absolute;
    content: "";
    height: 34px;
    width: 34px;
    left: 0;
    bottom: 2px;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #184BCD;
    -webkit-transition: .2s;
    transition: .2s;
    z-index: 2;
}

/**
Three State Styles
 */


.switch.three-state input:checked + .thumb:before{
    -webkit-transform: translateX(130px);
    -ms-transform: translateX(130px);
    transform: translateX(130px);
}

.switch.three-state input:indeterminate + .thumb:before {
    -webkit-transform: translateX(66px);
    -ms-transform: translateX(66px);
    transform: translateX(66px);
}

/**
Two State Styles
 */

.switch input:checked + .thumb:before{
    -webkit-transform: translateX(69px);
    -ms-transform: translateX(69px);
    transform: translateX(69px);
}


/**
States
 */
.focus > .thumb{
    box-shadow: 0 0 15px rgba(24, 75, 205, 0.7);
    outline: none;
}

.disabled {
    pointer-events: none;
}

.disabled > .thumb {
    background-color: #767676;
    opacity: 60%;
}

.disabled > .switch-icon {
    opacity: 40%;
}

.read-only {
    pointer-events: none;
}

.read-only > .thumb:before {
    background-color: rgba(24, 75, 205, 0.4);
    box-shadow: #184BCD;
}

.switch:focus {
    box-shadow: 0 0 15px rgba(24, 75, 205, 0.7);
    outline: none;
}

.required > .thumb {
    box-shadow: 0 0 15px rgb(169, 31, 31);
}

.required > .thumb:before {
    box-shadow: 0 0 0 2px rgb(169, 31, 31);
}


.arrow {
    position: absolute;
    top: 14px;
    width: 10px;
    height: 10px;
    border: solid #C7D1EB;
    border-width: 0 3px 3px 0;

}

.arrow-right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    animation: moveToRight 1s infinite ease-in-out;
    display: none;
}
.arrow-left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    animation: moveToLeft 1s infinite ease-in-out;
    display: none;
}

.arrow-indeterminate-right {
    position: absolute;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    animation: moveToRightIndeterminate 1s infinite ease-in-out;
    border-width: 0 3px 3px 0;
    display: none;
}
.arrow-indeterminate-left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    animation: moveToLeftIndeterminate 1s infinite ease-in-out;
    border-width: 0 3px 3px 0;
    display: none;
}

@keyframes moveToRight {
    0%{
        left: 34px;
    }
    100% {
        left: 37px;
    }
}

@keyframes moveToRightIndeterminate {
    0%{
        left: 100px;
    }
    100% {
        left: 103px;
    }
}


@keyframes moveToLeft {
    0%{
        right: 34px;
    }
    100% {
        right: 37px;
    }
}

@keyframes moveToLeftIndeterminate {
    0%{
        right: 100px;
    }
    100% {
        right: 103px;
    }
}
