html, body {
    padding: 40px;
}

.switch {
    width: 300px;
    height: 100px;
    background: #bdbdbd;
    border-radius: 50px;
    position: relative;
    /* display: grid; */
    /*  grid-template-columns: auto auto auto; */

    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;


}

.cross {
    width: 40px;
    height: 40px;

    margin-top: 10px;
    margin-left: 40px;
}

.cross:before, .cross:after {
    position: absolute;

    content: ' ';
    height: 33px;
    width: 5px;
    border-radius: 3px;
    background-color: #14142B;
}

.cross:before {
    transform: rotate(45deg);
}

.cross:after {
    transform: rotate(-45deg);
}

.dot {
    height: 20px;
    width: 20px;
    background-color: #14142B;
    border-radius: 50%;
    margin-left: 50px;


}

.checkmark {
    width: 20px;
    height: 30px;


    margin-right: 40px;
    transform: rotate(45deg);

    border-bottom: 5px solid #14142B;
    border-right: 5px solid #14142B;


    border-radius: 3px;

}


label[for="switch-checkbox"] {
    display: none;
}

#switch label:before, #switch label:after {
    color: #4e4e4e;
    z-index: 1;
}

.label-off:after {
    content: 'l';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 90px;
    height: 90px;
    background: #fcfcfc;
    border-radius: 90px;
    transition: 0.3s;
}

.label-on:after {
    content: 'l';
    position: absolute;
    top: 5px;
    left: 155px;
    width: 90px;
    height: 90px;
    background: #fcfcfc;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 130px;
}

.switch-label {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 2.0em;
}


.switch.disabled {
    pointer-events: none;
    z-index: 0;
    background: #767676;
    opacity: 60%;
}

.switch:focus {
    box-shadow: 0 0 15px rgba(24, 75, 205, 0.7);
    outline: none;
}

.switch-on {
    /*    background: #2a8708;
        box-shadow: 0 0 15px 0 #2a8708;*/
}

.thumb {

    z-index: 0;

    width: 90px;
    height: 90px;

    border-radius: 90px;

    box-shadow: 0 0 0 4px #184BCD;
}

.thumb > div {
    position: relative;
    border-radius: 3px;

}

#switchColor {
    width: 50px;
    height: 50px;
}


.off {
    transform: translateX(-9em);
    color: #333333;



    transition: all 0.2s linear;
}

.off > div {

    height: 5px;
    width: 30px;

}

.on {
    transform: translate(3.6em);


    margin-right: auto;

    transition: all 0.2s linear;


    z-index: 1;
    color: #fcfcfc;

}

.on > div {

    height: 5px;
    width: 30px;

}

.indeterminate {
    transform: translateX(-2.5em);



    transition: all 0.2s linear;
}

.indeterminate > div {


    height: 30px;
    width: 5px;


}


#switch-checkbox {

}

.arrow {

    z-index: 1;

    border: solid #C7D1EB;
    border-width: 0 3px 3px 0;

    padding: 3px;

}

.arrow-right {
    z-index: 1;
    position: absolute;


    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    animation: moveToRight 2s infinite;
    display: none;
}


@keyframes moveToRight {
    0%,
    50% {
        left: 160px;
    }
    100% {
        left: 190px;
    }


}


.arrow-left {
    z-index: 1;
    position: absolute;


    width: 20px;
    height: 20px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    animation: moveToLeft 2s infinite;
    display: none;
}

@keyframes moveToLeft {
    0%,
    50% {
        left: 110px;
    }
    100% {
        left: 80px;
    }


}

