:root {

    --switch-background:               hsl(0, 0%, 74%);
    --switch-disabled:                 hsl(0, 0%, 46%);
    --switch-icon-color:               hsl(240, 37%, 12%);
    --switch-thumb-color:              hsl(223, 79%, 45%);
    --switch-thumb-background:         hsla(223, 79%, 45%, 0.4);
    --switch-error-color:              hsl(322, 73%, 52%);

    --neumorph-width:                  5.25em;
    --neumorph-height:                 2.25em;

    --neumorph-white:                  hsl(0, 0%, 99%);
    --neumorph-grey:                   hsl(240, 5%, 30%);
    --neumorph-on:                     hsl(223, 79%, 45%);
    --neumorph-off:                    hsl(0, 0%, 74%);
    --neumorph-indeterminate:          linear-gradient(270deg,
                                       var(--neumorph-on) 50.15%,
                                       var(--neumorph-off) 50.16%);

    --neumorph-thumb-disabled:         hsl(0, 0%, 96%);
    --neumorph-on-disabled:            hsl(223, 57%, 75%);
    --neumorph-off-disabled:           hsl(0, 0%, 87%);
    --neumorph-indeterminate-disabled: linear-gradient(270deg,
                                       var(--neumorph-on-disabled) 50.15%,
                                       var(--neumorph-off-disabled) 50.16%);


    --neumorph-arrow-start-position:   3.5em;
    --neumorph-arrow-end-position:     3.6875em;
    --neumorph-thumb-size:             2em;

    --slim-icon-size:                  1.5em;
    --slim-width:                      5.25em;
    --slim-height:                     2.375em;
    --slim-indeterminate:              var(--background);
    --slim-default-border:             hsl(0, 10%, 37%);
    --slim-background-disabled:        hsl(0, 0%, 94%);
    --slim-background:                 hsl(0, 0%, 99%);
    --slim-border-disabled:            hsl(0, 5%, 70%);
    --slim-off-disabled:               hsl(0, 0%, 87%);
    --slim-thumb-main:                 hsl(223, 79%, 45%);

    --slim-arrow-color:                hsl(223, 10%, 37%);
    --slim-arrow-start-position:       2.4375em;
    --slim-arrow-end-position:         2.625em;

}

.switch {
    position: relative;
    display:  inline-block;
    width:    var(--neumorph-width);
    height:   var(--neumorph-height);
}


/* Make classical Checkbox invisible*/
.switch input {
    opacity: 0;
}

.switch-icon::selection {
    color: transparent;
}

.switch-icon.off {
    left: 0;
}

.switch-icon.on {
    right: 0;
}

.thumb {
    position:         absolute;
    cursor:           pointer;
    inset:            0;
    border-radius:    2.125em;
    background-color: var(--switch-background);
    transition:       .2s;
}

.thumb::before {
    margin-left:      0.125em;
    margin-right:     0.125em;
    position:         absolute;
    content:          "";
    height:           var(--neumorph-thumb-size);
    width:            var(--neumorph-thumb-size);
    left:             0;
    bottom:           0.125em;
    border-radius:    50%;
    background-color: var(--neumorph-white);
    transition:       .2s;
}

.thumb:not(.switch-slim).on::before {
    box-shadow: 0 5px 4px 0 rgba(168, 167, 167, 1) inset;
}

.thumb:not(.switch-slim).off::before {
    box-shadow: 0 5px 4px 0 rgba(168, 167, 167, 1) inset;
}

.thumb:not(.switch-slim).indeterminate::before {
    box-shadow: 0 -2px 5px 0 rgba(168, 167, 167, 1) inset,
                1px 4px 4px 0 rgba(255, 255, 255, 1) inset;

}

.switch.read-only > .thumb:not(.switch-slim).on::before {
    box-shadow: 0 5px 4px 0 rgba(168, 167, 167, 1) inset;
}

.switch.read-only > .thumb:not(.switch-slim).off::before {
    box-shadow: 0 5px 4px 0 rgba(168, 167, 167, 1) inset;
}

.switch.disabled > .thumb:not(.switch-slim).on::before {
    box-shadow: 0 5px 4px 0 rgba(168, 167, 167, 1) inset;
}

.switch.disabled > .thumb:not(.switch-slim).off::before {
    box-shadow: 0 5px 4px 0 rgba(168, 167, 167, 1) inset;
}

.switch input:checked + .thumb::before {
    transform: translateX(150%);
}

.switch input:indeterminate + .thumb::before {
    transform: translateX(75%);
}

/**
States
 */
.indeterminate {
    background: var(--neumorph-indeterminate);
}

.on {
    background: var(--neumorph-on);
}

.off {
    background: var(--neumorph-off);
}

.disabled > .off {
    background: var(--neumorph-off-disabled);
}

.disabled > .on {
    background: var(--neumorph-on-disabled);
}

.disabled > .indeterminate {
    background: var(--neumorph-indeterminate-disabled);
}

.read-only > .thumb {
    cursor: not-allowed;
}

.read-only > .off {
    background: var(--neumorph-off-disabled);
}

.read-only > .on {
    background: var(--neumorph-on-disabled);
}

.read-only > .indeterminate {
    background: var(--neumorph-indeterminate-disabled);
}

.disabled {
    pointer-events: none;
}

.disabled > .thumb::before {
    background: var(--neumorph-thumb-disabled);
}

.focus > .thumb {
    /*box-shadow: 0 0 0.375em 0 rgba(24, 75, 205, 0.94);*/
    outline:    none;
    box-shadow:  4px  5px 8px 0 rgba(168, 167, 167, 1),
                -3px -5px 8px 0 rgba(234, 234, 240, 1);
}

.hover > .thumb {
    /*box-shadow: 0 0 0.5em 0 rgba(24, 75, 205, 0.6);*/
    outline:    none;
    box-shadow:  2px  3px 5px 0 rgba(168, 167, 167, 1),
                -1px -3px 6px 0 rgba(234, 234, 240, 1);

}

.switch:focus {
    /*box-shadow: 0 0 0.9375em rgba(24, 75, 205, 0.7);*/
    outline:    none;
    box-shadow:  7px   8px 17px 0 rgba(168, 167, 167, 1),
                -7px -10px 13px 0 rgba(234, 234, 240, 1);
}

.required > .thumb {
    background: var(--switch-error-color);
}

.arrow {
    position:      absolute;
    top:           37%;
    width:         0.625em;
    height:        0.625em;
    border:        solid var(--neumorph-white);
    opacity:       90%;
    border-width:  0 0.0625em 0.0625em 0;
    border-radius: 0.0625em;
}

.arrow-left {
    position:       absolute;
    transform:      rotate(135deg);
    animation:      moveToLeft 2s infinite ease-in-out;

    display:        none;
    pointer-events: none;
}

.arrow-right {
    position:       absolute;
    transform:      rotate(-45deg);
    animation:      moveToRight 2s infinite ease-in-out;

    display:        none;
    pointer-events: none;
}


@keyframes moveToLeft {
    0% {
        right: var(--neumorph-arrow-start-position);
    }
    50% {
        right: var(--neumorph-arrow-end-position);
    }
    100% {
        right: var(--neumorph-arrow-start-position);
    }
}

@keyframes moveToRight {
    0% {
        left: var(--neumorph-arrow-start-position);
    }
    50% {
        left: var(--neumorph-arrow-end-position);
    }
    100% {
        left: var(--neumorph-arrow-start-position);
    }
}
