
.container {
    margin: 100px auto;
    max-width: 745px;
}

h2, h3 {
    margin-top: 25px;
    margin-bottom: 10px;
}

.mt-10 {
    margin-top: 10px
}

.mb-10 {
    margin-bottom: 10px
}

.demo-text {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: justify;
}

.demo-small-text {
    font-size: 0.75em;
}

.code {
    font-family: Consolas, Menli, Courier New, monospace;
}

.code-red {
    font-weight: 900;
    color: #a60035;
}

.demo-box {
    padding: 15px;
}

.demo-title {
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
}

.demo-element {
    display: inline-block;
    margin: 10px;
}

.demo-code {
    padding: 15px;
    border: 1px solid rgb(152, 152, 152);
    background-color: rgba(152, 152, 152, 0.2);
    border-radius: 5px;
    display: block;
}

.demo-code ul {
    list-style-type: none;
}

.demo-code ul li {
    margin: 10px 0;
}

.option-name {
    font-weight: 600;
}

.option-name > small {
    font-family: monospace;
}

table {
    margin-top: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
    min-width: 100%;
}

tr {
    border-top: 1px solid black;
    border-top: 1px solid black;
}

tbody tr:nth-child(odd) {
    background-color: rgba(152, 152, 152, 0.2);
}

th, td {
    text-align: left;
    padding: 10px;
}

.switch-div-frame {
    margin: 3rem;
    min-width: 23rem;
    max-width: 25rem;
    background: var(--background);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.36) 5px 3px 6px,
    rgba(0, 0, 0, 0.43) 0 3px 6px;
}

.grid-div-overlay {
    margin: 3rem;
    min-width: 103rem;
    max-width: 65rem;
    background: var(--background);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.36) 5px 3px 6px,
    rgba(0, 0, 0, 0.43) 0 3px 6px;
}

.featureToggle {
    position: fixed;
    bottom: 5px;
    left: 5px;
}

.color-ul {
    list-style-type: none;
    text-align: center;
}

.color-ul li {
    display: inline-block;
    text-align: center;
}

.color-ul li:nth-child(2) {
    padding: 0 20px;
}

.color-picker {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
}

.states-header {
    margin-top: 15px;
}

.states-label-text {
    padding-left: 10px;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: 1.2em;
    font-family: monospace;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
    pointer-events: none;
}


.style-playground {
    margin: 50px;
}
