:root {

    --switch-background: #bdbdbd;
    --switch-disabled: #767676;
    --switch-icon-color: #14142B;
    --switch-thumb-color: #184BCD;
    --switch-thumb-background: rgba(24, 75, 205, 0.4);

    --three-state-width: 166px;
    --two-state-width: 105px;

    --polymorph-width: 84px;
    --polymorph-height: 36px;
    --polymorph-white: #FCFCFC;
    --polymorph-indetermiante: linear-gradient(270deg, #184BCD 0%, #184BCD 50.15%, #BDBDBD 50.16%);
    --polymorph-on: #184BCD;
    --polymorph-off: #BDBDBD;

    --polymorph-arrow-start-position: 56px;
    --polymorph-arrow-end-position: 59px;


    --switch-height: 38px;
    --switch-icon-height: 24px;
    --switch-icon-top: var(--switch-icon-height) / 3.4285;

    --text: hsl(0, 0%, 20%);
    --shadow: hsl(0, 0%, 30%);
    --input-hover: hsl(0, 0%, 74%);
    --shadow-contrast: hsl(0, 0%, 88%);
    --text-contrast: hsl(0, 0%, 95%);
    --background: hsl(0, 0%, 99%);
    --primary: hsl(223, 79%, 45%);
    --primary-opac: hsla(223, 79%, 45%, 0.1);
    --primary-hover: hsl(233, 79%, 56%);
    --success: hsl(104, 89%, 28%);
    --error: hsl(0, 79%, 63%);

}

[data-theme="dark"] {
    --text: hsl(0, 0%, 95%);
    --gray4-hsl: hsl(0, 0%, 51%);
    --shadow-contrast: hsl(0, 0%, 31%);
    --text-contrast: hsl(0, 0%, 20%);
    --background: hsl(0, 0%, 20%);
    --primary: hsl(187, 100%, 76%);
    --primary-opac: hsla(187, 100%, 76%, 0.1);
    --primary-hover: hsl(187, 79%, 86%);
    --success: hsl(117, 85%, 76%);
    --error: hsl(0, 79%, 63%);
}


html, body {
    background-color: var(--background);
    color: var(--text);
}


.special-header {
    font-size: 4em;
    margin-left: 20px;
}

.switch-div-frame {
    margin: 3rem;
    min-width: 23rem;
    max-width: 25rem;
    background: var(--background);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.36) 5px 3px 6px,
    rgba(0, 0, 0, 0.43) 0px 3px 6px;
}

.grid-div-overlay {
    margin: 3rem;
    min-width: 103rem;
    max-width: 65rem;
    background: var(--background);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.36) 5px 3px 6px,
    rgba(0, 0, 0, 0.43) 0px 3px 6px;
}

.featureToggle {
    position: fixed;
    bottom: 5px;
    left: 5px;
}

.color-ul {
    list-style-type: none;
    text-align: center ;
}

.color-ul li {
    display: inline-block;
    text-align: center;
}

.color-ul li:nth-child(2){
    padding: 0 20px;
}

.color-picker {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
}
