:root {
    --border-radius: 0.3125rem;
    --default:       hsl(0, 0%, 62%);
    --default-hover: hsl(0, 0%, 79%);
    --text-contrast: hsl(0, 0%, 95%);
    --grey:          hsl(221, 15%, 25%);
    --white:         hsl(0, 0%, 100%);
    --primary:       hsl(223, 79%, 45%);
    --primary-hover: hsl(233, 79%, 56%);
    --success:       hsl(104, 89%, 28%);
    --success-hover: hsl(103, 87%, 32%);
    --warning:       hsl(36, 100%, 48%);
    --warning-hover: hsl(34, 97%, 58%);
    --error:         hsl(0, 79%, 63%);
    --error-hover:   hsl(0, 100%, 70%);
    --transparent:   transparent;

}


.button {
    padding:       0.5em 1em;
    margin-right:  0.625rem;
    margin-bottom: 0.625rem;
    font-size:     0.75em;
    font-weight:   800;
    border:        none;
    border-radius: var(--border-radius);
    cursor:        pointer;
}

.button.button-default {
    border:           0.125rem solid var(--grey);
    background-color: var(--white);
    color:            var(--grey);
}

.button.button-default:hover {
    background-color: var(--default-hover);
    color:            var(--text-contrast)
}

.button.button-info {
    border:           0.125rem solid var(--primary);
    background-color: var(--white);
    color:            var(--primary);
}

.button.button-info:hover {
    background-color: var(--primary-hover);
    color:            var(--text-contrast)
}

.button.button-success {
    border:           0.125rem solid var(--success);
    background-color: var(--white);
    color:            var(--success);
}

.button.button-success:hover {
    background-color: var(--success-hover);
    color:            var(--text-contrast);
}

.button.button-warning {
    border:           0.125rem solid var(--warning);
    background-color: var(--white);
    color:            var(--warning);
}

.button.button-warning:hover {
    background-color: var(--warning-hover);
    color:            var(--text-contrast);
}

.button.button-error {
    border:           0.125rem solid var(--error);
    background-color: var(--white);
    color:            var(--error);
}

.button.button-error:hover {
    background-color: var(--error-hover);
    color:            var(--text-contrast);
}
