body{
    padding:20px;
    color: var(--text);
}

.form-inline{
    width: 100%;
    height: 38px;
    text-align: left;
    margin-bottom: 10px;
}

.switch-label{
    position: relative;
    bottom: 13px;
}

.form-label{
    min-width: 100px;
    width: auto;
    margin-right: 10px;
    line-height: 38px;
    display: inline-block;
}

.right{
    text-align: right;
}